# This is an example env file.  Duplicate this file locally, rename it to ".server.env", and fill in the variables appropriately

# Secure secret for signing JWTs
REFRESH_SECRET=supersecret
ACCESS_SECRET=anothercoolsecret